---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>💻 Hello World!</h1>
			<p>
				Welcome, this is my official blog,<br> I'll be posting some news, tips and tricks and maybe some more, this site is primarily my project that I'm doing using <b>.astro</b>.<br> Astro is a framework similar to VUE that I want to learn. I will be glad if you visit my social networks. <br>Thank you for your attention and have a nice day
			</p>
			<p>
				I upload all progress using GIT to GitHub, you can find it on this link, <a href="https://github.com/Jakub200CZ/astro_personal_blog" target="_blank">click here</a>
			</p>
			<p>
				You can get to the blog using the header where the <b>POSTS</b> tab is.
			</p>
		</main>
		<Footer />
	</body>
</html>
